{% extends "base.html" %}

{% block title %}
  {% if show_all %}
    Все тренировки
  {% else %}
    Мои тренировки
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="container py-5">
      <div class="row">
        <a class="btn btn-primary" href="{% url 'trainings:create-training' %}" role="button">Добавить Тренировку</a>
      </div>
    </div>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          {% if show_all %}
            <th scope="col">Profile</th>
          {% endif %}
          <th scope="col">Training type</th>
          <th scope="col">Finished At</th>
          <th scope="col">Started At</th>
          <th scope="col">Training units</th>
          {% if not show_all %}
            <th scope="col"></th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
        {% for training in trainings %}
          <tr>
            {% if show_all %}
              <th scope="row"> {{ training.profile }}</th>
            {% endif %}
            <td>{{ training.training_type }}</td>
            <td>{{ training.finished_at }}</td>
            <td>{{ training.started_at }}</td>
            <td>{{ training.training_units }}</td>
            {% if not show_all %}
              <td>
                <a class="btn btn-primary" href="{% url 'trainings:edit-training' training.id %}" role="button">Редактировать</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock %}
